* {
    margin: 0;
    padding: 0;
}

body {
    background: #14213d;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    background-color: #14213d;
    margin: 10px auto;
    width: 370px;
    height: 585px;
    border-radius: 15px;
    border: 1px solid rgb(26, 40, 70);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0px;
    box-shadow: rgba(87, 87, 187, 0.2) 0px 7px 29px 0px;
}


.imgBx {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.names {
    margin-top: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.names h1 {
    font-size: 30px;
}

.names p {
    font-size: 25px;
    color: rgb(18, 255, 196);
}

.icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

.icons .icon {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #14213d;
}

.icons .icon:hover {
    margin-top: -20px;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.skills {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    color: white;
    gap: 15px;
}

.skills .details {
    width: 80%;
}

.skills .text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line {
    width: 0%;
    height: 20px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#html {
    animation: html 4s 0s forwards 1;
}

#css {
    animation: css 5s 0s forwards 1;
}

#js {
    animation: js 6s 0s forwards 1;
}

@keyframes html {
    100% {
        width: 90%;
    }
}

@keyframes css {
    100% {
        width: 80%;
    }
}

@keyframes js {
    100% {
        width: 60%;
    }
}